.title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.65rem;
  margin: 0;
  color: $font-primary;
}

.paragraph {
  font-family: 'Sono', sans-serif;
  font-weight: 400;
  font-size: 1.15rem;
  line-height: 1.3rem;
  margin: 0;
  color: $font-primary;
}

.bold {
  font-weight: 600;
}

.text-center {
  text-align: center;
}