$font-primary: #4A4C50;
$font-secondary: #c9cbcf;
$font-white: #ffffff;

$button-success: #0d6efd;
$button-warning: #ffc107;
$button-danger: #dc3545;

$background-primary: #d16ba5;
$background-secondary: #41dfff;
$background-grey: #ebebeb;
$background-white: #ffffff;